:root {
  --brand-color: #ffffff;
  --secondary-color: #2e2f42;
  --paragraph-color: #434455;
  --interactive-color: #4d5ae5;
  --color-logo: #f4f4fd;
  --logo-company: #8e8f99;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #2e2f42;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;

  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: var(--secondary-color);
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
/* //reset styles */

/* Mobile */

@media screen and (min-width: 480px){
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 767px) {
  .container {
    display: flex;
    max-width: 428px;
    justify-content:space-between;
    padding: 0 17px;
    margin-left: auto;
    margin-right: auto;
    
  } 
  .menu-mobile {
    display: none;
  }
  .contacts-menu-mobile {
    display: none;
  }
  .menu-item{
    display: none;
  }
.header-site-mobile {
  padding-top: 25px;
  padding-bottom: 25px;
}
.mobile-menu-open {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}
.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  top: 0;
  left: 0;
  overflow-y: scroll;
  background-color: var(--brand-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms linear, visibility 250ms linear;
}
.mobile-menu.is-open {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.container-mobile-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  padding-top: 80px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 51px;
}
.mobile-close-btn {
  background-color: transparent;
  position: absolute;
  top: 25px;
  right: 15px;
  padding: 0;
  line-height: 0;
  background: #E7E9FC;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.mobile-close-icon{
  width: 8px;
  height: 8px;
}
.mobile-item{
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.mobile-color{
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--interactive-color);
}
.mobile-items {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-color);
}
.mobile-items:hover,
.mobile-items:focus {
  color: var(--interactive-color);
}
.mobile-page {
  width: 24px;
  height: 24px;
  fill: var(--brand-color);
}
.link-foot{
  width: 100%;
}
.link-tel{
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin-right: auto;
  margin-bottom: 48px;
}
.mobile-links-tel {
  display: inline-block;
  width: max-content;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--interactive-color);
}

.mobile-links {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mobile-link {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.pages-mobile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--interactive-color);
}
/* HERO */
.hero-sectoin {
  padding-top: 112px;
  padding-bottom: 240px;
  width: 428px;
  margin: 0 auto;
  background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/webstudio/mobile/backgraund\ mobile\ 1x.jpg);
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero-sectoin {
    margin: auto;
    background-image:linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/webstudio/mobile/background\ mobile\ 2x.jpg);
    width: 100%;
    max-width: 428px;
    height: 432px;
    background-size: cover;
  }
}
.conteiner-hero {
  display: block;
  text-align: center;
}
.button {
  padding: 16px 32px 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  max-height: 56px;
}
.hero {
  font-family: 'Roboto';
  margin: auto;
  margin-bottom: 72px;
  width: 100%;
  max-width: 318px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: var(--brand-color);
}
.button {
  display: block;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  background-color: var(--interactive-color);
  color: var(--brand-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms,
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: #404bbf;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.button:active {
  background: #404bbf;
}
/* Modal-Window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms ease-in-out;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 392px;
  height: 586px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms ease-in-out;
  background: #fcfcfc;
  padding: 72px 24px 24px 24px;
}
.backdrop.is-hidden .modal {
  transform: scale(0.7) translate(-60%, 30%);
}
.button-closed {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms, box-shadow 250ms, background-color 250ms,
    cubic-bezier(0.4, 0, 0.2, 1);
}
.button-closed:hover,
.button-closed:focus {
  background-color: #404bbf;
  fill: currentColor;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.modal-button {
  width: 8px;
  height: 8px;
  color: var(--brand-color);
}
.title-list {
  font-family: 'Roboto';
text-align: center;
margin-bottom: 8px;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.paragraf-text {
  font-size: 16px;
  max-width: 428px;
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: var(--paragraph-color);
}
.menu-paragraf{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 56px;
}
.form-paragraf{
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 14px;
  color: var(--secondary-color);
  }

  .list-of-benefits{
    display: none;
  }
  .hidden-item {
    padding-top: 96px;
    padding-bottom: 96px;
  }
/* //Modal-Window */
}
@media screen and (max-width: 427px){
.modal {
    width: 310px;
    height: auto;}
  }

@media screen and (max-width: 427px){
  
  .mobile-links-tel{
    font-size: 20px;
  }
}

/* //HERO */

/* MOBILE-MENU */

/* /MOBILE-MENU */

/* Tablet */
/* @media screen and (min-width: 767px){
  .container {
    display: flex;
    width: 736px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  } */
  @media screen  and (max-width:1199px) {
    .list-of-benefits{
      display: none;
    }
    .section-doing{
      display: none;
    }
  }
  @media screen and (min-width: 768px) and (max-width:1199px){
  .container {
  display: flex;
  justify-content: space-between;
  width: 768px;
  margin-left: auto;
  margin-right: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px){
  .mobile-menu-open{
    display: none;
  }
  .mobile-close-btn{
    display: none;
  }
  .zero{
    display: none;
  }
  .container-mobile-menu{
    display: none;
  }
  .nav-pages{
    display: flex;
    align-items: center;
    justify-content: space-between
    
  }

  .menu-mobile{
    display: flex;
    column-gap: 40px;
  }
  .top-web-studio{
    margin-right: 123px;
  }
  .contacts-menu{
    width: 119px;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    margin-left: 118px;
  }
  .menu-link {
    width: 119px;
  display: block;
  padding-top: 24px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--paragraph-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link-hed {
  margin-right: 40px;
}
.menu-link-contact {
  display: block;
  padding-bottom: 10px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--paragraph-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--interactive-color);
}
.menu-link-contact:hover,
.menu-link-contact:focus {
color: var(--interactive-color);
}
.studio-web-contacts-hidden::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--brand-color);
}
.studio-web-contacts-hidden:hover::after {
  background-color: var(--interactive-color);
}
.studio-web-portfolio-hidden::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--brand-color);
}
.studio-web-portfolio-hidden:hover::after {
  background-color: var(--interactive-color);
}
/* HERO */
.hero-sectoin {
  padding-top: 192px;
  padding-bottom: 192px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/webstudio/tablet/backgraund\ tablet\ 1x.jpg);
  background-size: cover;
  max-width: 1199px;
  margin: 0 auto;
}
.conteiner-hero {
  display: block;
  text-align: center;
}
.hero {
  margin: auto;
  margin-bottom: 48px;
  width: 492px;
}
.button {
  padding: 16px 32px 16px 32px;
  border-radius: 4px;
  min-width: 172px;
  max-height: 51px;
}
.hero {
  color: var(--brand-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
}
.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  background-color: var(--interactive-color);
  color: var(--brand-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: #404bbf;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.button:active {
  background: #404bbf;
}

/* Modal-Window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms ease-in-out;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  height: 576px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms ease-in-out;
  background: #fcfcfc;
  padding: 72px 24px 24px 24px;
}
.backdrop.is-hidden .modal {
  transform: scale(0.7) translate(-60%, 30%);
}
.button-closed {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms, box-shadow 250ms, background-color 250ms,
    cubic-bezier(0.4, 0, 0.2, 1);
}

.button-closed:hover,
.button-closed:focus {
  background-color: #404bbf;
  fill: currentColor;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.modal-button {
  width: 8px;
  height: 8px;
  color: var(--brand-color);
}
.form-paragraf {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 14px;
  color: var(--secondary-color);
}
/* /Modal-Window */

/* //HERO */
.hidden-item {
  padding-top: 96px;
  padding-bottom: 96px;
}
.menu {
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
}
.title-list {
margin-bottom: 8px;
font-family: 'Roboto';
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: var(--secondary-color);
}
.paragraf-text {
  max-width: 356px;
  height: 72px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--paragraph-color);
}
.menu-paragraf {
  display: flex;
  width:768px;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 24px;
  row-gap: 72px;
}
}
.list-of-benefits {
  display: none;
}
.benefits-item {
  width: 64px;
  height: 64px;
}
/* /Tablet */

/* Desktop */
@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
    
    margin-left: auto;
    margin-right: auto;
  }
  .top-web-studio {
  margin-right: 76px;
}
.menu-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--paragraph-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link-hed {
  margin-right: 40px;
}
.menu-link-contact {
  display: block;
  padding: 24px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--paragraph-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--interactive-color);
}
.menu-link-contact:hover,
.menu-link-contact:focus {
  color: var(--interactive-color);
}
.studio-web-contacts-hidden::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--brand-color);
}
.studio-web-contacts-hidden:hover::after {
  background-color: var(--interactive-color);
}
.studio-web-portfolio-hidden::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--brand-color);
}
.studio-web-portfolio-hidden:hover::after {
  background-color: var(--interactive-color);
}
.container-mobile-menu{
  display: none;
}
.mobile-menu-open{
  display: none;
}
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-pages {
  display: flex;
  align-items: center;
}
.contacts-menu {
  display: flex;
}
/* HERO */
.hero-sectoin {
  padding-top: 192px;
  padding-bottom: 192px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/webstudio/background\ of\ the\ hero.jpg);
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}
.conteiner-hero {
  display: block;
  text-align: center;
}
.hero {
  margin: auto;
  margin-bottom: 48px;
  width: 492px;
}
.button {
  padding: 16px 32px 16px 32px;
  border-radius: 4px;
  min-width: 172px;
  max-height: 51px;
}
.hero {
  color: var(--brand-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
}
.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  background-color: var(--interactive-color);
  color: var(--brand-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms,
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: #404bbf;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.button:active {
  background: #404bbf;
}

/* Modal-Window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms ease-in-out;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  height: 576px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms ease-in-out;
  background: #fcfcfc;
  padding: 72px 24px 24px 24px;
}
.backdrop.is-hidden .modal {
  transform: scale(0.7) translate(-60%, 30%);
}
.button-closed {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms, box-shadow 250ms, background-color 250ms,
    cubic-bezier(0.4, 0, 0.2, 1);
}

.button-closed:hover,
.button-closed:focus {
  background-color: #404bbf;
  fill: currentColor;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.modal-button {
  width: 8px;
  height: 8px;
  color: var(--brand-color);
}
.form-paragraf {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 14px;
  color: var(--secondary-color);
}
/* /Modal-Window */

/* //HERO */
.hidden-item {
  padding-top: 120px;
  padding-bottom: 120px;
}
.menu {
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
}
.title-list {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.paragraf-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: var(--paragraph-color);
}
.menu-paragraf {
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
}
.list-of-benefits {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--color-logo);
  border-radius: 4px;
  margin-bottom: 8px;
}
.benefits-item {
  width: 64px;
  height: 64px;
}

}
/* /Desktop */


/* MODAL FORM */

.form {
  display: flex;
  flex-direction: column;
}

.modal-form-label {
  margin-bottom: 8px;
}

.icon-modal {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-modal-position {
  display: block;
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--interactive-color);
}
.modal-form-input:focus + .icon-modal {
  fill: var(--interactive-color);
}

.modal-form-input-desc {
  display: block;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-form-comment {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-comment:focus {
  outline: none;
  border-color: var(--interactive-color);
}
.modal-form-comment::placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-check-deck::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--secondary-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}

.modal-form-check-deck {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  margin-bottom: 24px;
  color: #757575;
}

.modal-form-check:checked + .modal-form-check-deck::before {
  background-color: var(--interactive-color);
  background-image: url(../images/webstudio/img.svg/Vector.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: none;
}

.privacy-policy {
  color: var(--interactive-color);
  text-decoration: underline;
}

.modal-form-submit {
  align-self: center;
  width: 169px;
  height: 56px;
  border: none;
  padding: 16px 32px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--brand-color);
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: #4d5ae5;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.modal-form-submit:active {
  background: #404bbf;
}

.visuall-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
/* /MODAL FORM */

/* Form Footer */

.wrapper-forms {
  margin-left: 80px;
}
.form-footer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 24px;
}
.paragraf-form-footer {
  width: 100%;
  height: 24px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  margin-bottom: 16px;
}

.input-footer {
  width: 264px;
  height: 40px;
  padding: 8px 16px 8px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
  background-color: var(--secondary-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-footer:focus {
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: var(--interactive-color);
}
.footer-modal-btn {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-left: 24px;
  padding: 8px 24px 8px;
  border: none;
  width: 165px;
  height: 40px;
  color: var(--brand-color);
  background: var(--interactive-color);
  border-radius: 4px;
  transition: background-color 250ms var(--cubic-bezier);
}
.footer-modal-btn:hover {
  background-color: #404bbf;
}
.pages-footer {
  width: 24px;
  height: 20px;
}

/* /Form Footer */



/* Positioning */
/* .container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
} */
.clik-portfolio-pages {
  border-radius: 4px;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.all-buttons {
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  border-radius: 4px;
}
.btn-nav-portfolio-cards {
  padding-top: 96px;
  padding-bottom: 120px;
}
.pages-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.img-portfolio {
  display: block;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-portfolio:hover .hidden-div::before {
  transform: translateY(0);
}
.hidden-div {
  position: relative;
}
.hidden-div::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 360px;
  height: 300px;
  background-color: var(--interactive-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hidden-div {
  overflow: hidden;
}
.slide {
  position: absolute;
  top: 40px;
  left: 32px;
  right: 32px;
  width: 296px;
  height: 96px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-logo);
}
.hidden-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}
.portfolio-item:hover .hidden-text {
  transform: translateY(0);
}
.img-portfolio:hover,
.img-portfolio:focus {
  box-shadow: 0px 1px 6px rgb(46 47 66 / 8%), 0px 1px 1px rgb(46 47 66 / 16%),
    0px 2px 1px rgb(46 47 66 / 8%);
}
.our-offers {
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  border: 0.5px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.team-list {
  display: flex;
  column-gap: 24px;
}

.section-doing {
  padding-bottom: 120px;
  padding-top: 120px;
}
.title-pages {
  margin-bottom: 72px;
  text-align: center;
}
/* TEAM OUR */
.team {
  text-align: center;
  padding-bottom: 120px;
  padding-top: 120px;
}
.letter-h2 {
  margin-bottom: 72px;
}
.team-list {
  flex-basis: calc((100%-72px) / 4);
}
.team-item {
  background: var(--brand-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-networks {
  width: 16px;
  height: 16px;
  fill: var(--color-logo);
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--interactive-color);
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}
/* Customers */
.customers-company {
  padding-top: 120px;
  padding-bottom: 120px;
}
.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.customers {
  margin-bottom: 72px;
}
.castomers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #8e8f99;
  width: 168px;
  height: 88px;
  border: 1px solid var(--logo-company);
  border-radius: 4px;
  transition: border-color 250ms, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-company {
  width: 104px;
  height: 56px;
  fill: inherit;
}
.castomers-link:hover,
.castomers-link:focus {
  border-color: var(--interactive-color);
  fill: var(--interactive-color);
}

/* /Customers */

.footer-cards {
  padding-top: 32px;
  padding-bottom: 32px;
}
/* /TEAM OUR */

/* FOOTER */

.footer-section {
  padding-top: 100px;
  padding-bottom: 100px;
  justify-content: flex-start;
}
.footer-paragraf {
  display: inline-block;
  width: 264px;
  height: 72px;
}
.logo-studio {
  display: block;
  margin-bottom: 16px;
}
.container-two {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer-list {
  margin-left: 120px;
  text-align: center;
}
.footer-pages {
  text-align: start;
  color: var(--brand-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-item {
  display: flex;
  justify-content: center;
  gap: 16px;
  fill: var(--brand-color);
}
.footer-li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-images {
  width: 24px;
  height: 24px;
  fill: var(--background-color-light);
}
.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}
/* /FOOTER */

/* PORTFOLIO */
.btn-portfolio .menu-link-webstudio {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.studio-color {
  color: var(--interactive-color);
}
.studio-portfolio::after {
  content: "";
  display: block;
  position: absolute;
  width: 48px;
  height: 4px;
  bottom: -1px;
  border-radius: 2px;
  background: var(--interactive-color);
}
.menu-link-webstudio {
  position: relative;
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link-webstudio:hover,
.menu-link-webstudio:focus {
  color: var(--interactive-color);
}
.team-list {
  list-style: none;
}
.team-item {
  background-color: var(--brand-color);
}
/* <!--Site header--> */
header {
  background: #ffffff;
  border-bottom: 1px solid #e5e5e5;
}
.top-web {
  font-family: "Raleway" sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--interactive-color);
}

.top-web-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--secondary-color);
}

.menu-link-portfolio {
  position: relative;
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-color {
  color: var(--interactive-color);
}
.portfolio-studio::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--interactive-color);
}

.portfolio-hidden::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--brand-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-hidden:hover::after {
  background-color: var(--interactive-color);
}

.portfolio-contacts::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--brand-color);
}
.portfolio-contacts:hover::after {
  background-color: var(--interactive-color);
}

.clik-portfolio {
  display: flex;
}
.menu-link-portfolio:hover,
.menu-link-portfolio:focus {
  color: var(--interactive-color);
}

/* <!--//Site header--> */

/* Lists */
.hidden-header {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.main-lists {
  background-color: var(--brand-color);
}
.paragraf-our-team {
  margin-bottom: 8px;
}
.team {
  background: #f4f4fd;
}
.title-pages {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.letter-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
/* /Lists */

/* Customers */
.customers {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
/* /Customers */

/* Footer */
.footer-paragraf {
  font-size: 16px;
  line-height: 1.5;
  color: #e7e9fc;
  letter-spacing: 0.02em;
}
.footer-section {
  background-color: var(--secondary-color);
}
.logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--interactive-color);
}
.logo-studio {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-logo);
  text-decoration: none;
}
/* /Footer */

/* PORTFOLIO */
.clik-portfolio {
  list-style: none;
}
.pages-portfolio {
  list-style: none;
}
.all-buttons {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--interactive-color);
  border: 1px solid #e7e9fc;
  transition: color 250ms, background-color 250ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.all-buttons:hover,
.all-buttons:focus {
  background-color: var(--interactive-color);
  color: var(--brand-color);
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: color 250ms, background-color 250ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.paragraf-text-portfolio {
  color: var(--paragraph-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.btn-nav-portfolio {
  color: var(--brand-color);
}
.btn-nav-portfolio-cards {
  color: var(--brand-color);
}
.img-portfolio {
  text-decoration: none;
}
/* /PORTFOLIO */
